<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
<title>Search</title>
</head>

<body>

	<form action="/search_artist" method="POST">
	<div id="box2">
    	<div id="line1">
        	Admin Search Page
        </div>
        <div id="line2">
        	Search Artwork by Artist ID
        </div>
        <div id="line2">
        	<input type="text" name="artist_id" class="f1" />
        </div>
        <div id="line">
        	<input type="submit" value="Search" class="submit" />
        </div>
    </div>
	</form>

</body>
</html>
